footer {
    background-color: black;
    color: white;
    padding: 20px 0;
/*     position: fixed; */
    bottom: 0;
    width: 100%;
}

footer ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

footer a {
    color: white;
} 